.TopBar {
  display: flex;
  background-color: #121212;
  color: white;
  height: 50px;
  align-items: center;
}

.Search {
    flex-grow: 1;
}

.Logout {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}