.Top {
  width: auto;
  display: flex;
  flex-grow: 1;
}

.Bottom {
  display: flex;
  background-color: blue;
  height: 100px;
}

.Main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.Search {
  background-color: #121212;
  color: white;
  height: 50px;
}

.Content {
  background-color: #232323;
  flex-grow: 1;
}
